body{
    background: #EAE9E9;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 82px;
    padding-left: 59px;
    padding-right: 59px;
    padding-bottom: 82px;
}




.bgwhite{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 105vh;
    border-radius: 20px;
    background: #FFF;
    margin-bottom: 59px;
}


.centerboooking{
    display: block;
}




.centerconfirm{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    background: #FFF;
    padding-left: 108px ;
    padding-right: 108px;
    margin-bottom: 59px;
}

.boxgcenter{
    display: block;
}

.textbgwhite{
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.textbgwhite p{
    display: block;
    margin: 0px;
}


.textbgwhite2{
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 20px;
}

.textbgwhite3{
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.60);
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 10px;
}


.boxhome{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #00AB30;
}

.boxhome a{
    display: flex;
    color: #FFF;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    text-decoration:none;
}


.boxtable{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #5C5C5C;
}

.boxtable a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    text-decoration:none;
}

.allhometable{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}










.rmone ,.rmtwo ,.rmthree{
    margin-top: 80px;
    display: block;
    display: grid;
    align-content: center;
    grid-template-columns: auto  auto;
    gap: 10px;
   /* background-color: #abafb1; /*  แถบพื้นหลัง คอนเทนเนอ room   */
    padding: 10px;
}


.ptroom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataroom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomone{
    display: block;
    justify-content: center;
    align-items: center;
    width: 434px;
    height: 331px;
    border-radius: 10px;
}

.roomone img{
    display: block;
    width: 434px;
    height: 331px;
    border-radius: 10px;
}

.roomone p{
    display: block;
    color: #000;
    text-align: center;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


.dataone{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 434px;
    height: 331px;
    border-radius: 10px;

}

.boxdata{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 324px;
    height: 107px;
    border-radius: 10px;
    background: #00C543;
}

.boxdata p {
    display: flex;
    color: #FFF;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.boxdataall{
    display: block;
    justify-content: center;
    align-items: center;
}

.boxdatasmall{
    display: inline-block;

    width: 151px;

    border-radius: 10px;
    background: #FF3737;
    margin-top: 52px;
}

.boxdatasmall p{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.boxdatablacksmall{
        display: inline-block;

        width: 151px;

        border-radius: 10px;
        background: #5C5C5C;
        margin-left: 22px;
        text-decoration:none;

    
}


.boxdatablacksmallsos{
    display: inline-block;

    width: 151px;

    border-radius: 10px;
    background: #fd4848;
    margin-left: 22px;
    text-decoration:none;


}

.boxdatablacksmall p{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}



.room-selector {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: auto;
  }

  .room-selector button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
  }



  .room-selector button:hover {
    background-color: #ddd;
  }

  .room-content {
    display: none;
    text-align: center;
    justify-content: center;
    
  }

  .room-content.show {
    display: flex;
  }
  

.room-selector{
    margin-top: 120px;
    margin-bottom: 10px;
}

